<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <title>NSYSU Course Calendar</title>
</head>
<body class="m-8">
  <h1 class="text-8xl text-gray-950 tracking-tighter text-balance">YESSS</h1>
  <p class="text-lg text-gray-950 font-medium mt-8 mb-10">This app is designed to help you manage your course schedule and view your course information.</p>
  <a href="/calendar" class="bg-black text-white px-4 py-2 rounded-full text-lg">Get Started</a>
  
  <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>